<%-include('header')%>
  <h1> 문의 받은 내용들</h1>
  <table>
    <tr>
      <th>idx</th>
      <th>성명</th>
      <th>연락처</th>
      <th>이메일</th>
      <th>문의내용</th>
    </tr>

    <% lists.forEach(function(item){ %>
      <tr>
        <td><%=item.idx%> </td>
        <td><%=item.name%> </td>
        <td><%=item.phone%> </td>
        <td><%=item.email%> </td>
      </tr>
    <%})%>
    <tr>

    </tr>
  </table>
<%-include('footer')%>