<%- include('header') %>
<h1>문의 받은 내용들</h1>
<table border="1">
  <thead>
    <tr>
      <th>idx</th>
      <th>성명</th>
      <th>연락처</th>
      <th>이메일</th>
      <th>날짜</th>
      <th>문의내용</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
    <% if (lists.length > 0) { %>
      <% lists.forEach(function(item) { %>
        <tr>
          <td><%= item.idx %></td>
          <td><%= item.name %></td>
          <td><%= item.phone %></td>
          <td><%= item.email %></td>
          <td><%= item.regdate %></td>
          <td><%= item.memo %></td>
          <td><a href="/aboutDelete?idx=<%=item.idx%>">삭제</a></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="6" style="text-align: center;">문의 내용이 없습니다.</td>
      </tr>
    <% } %>
  </tbody>
</table>
<%- include('footer') %>
